<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to RSSBlur, <%= @user.username %>!</h1>
    <p>
      Thanks for checking out my website and even taking the time to sign up!<br>
      If you want to check out more about the creator, Michael Budnick, please visit <%= @portfolio_url %><br>
      If you want to have some fun playing a game, check out <%= @game_url %>
      And if you really want to check out my resume, you can download it with this link: <%=  %>
    </p>
    <p>
      To get back to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      .
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
