<!DOCTYPE html>

<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '285141892042046',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.8'
      });

      window.FB.Event.subscribe('auth.statusChange', (response) => {
          console.log(response.authResponse);
          console.log(response.email);
          console.log(response.authResponse.email)
        if (response.authResponse) {
          // this.updateLoggedInState(response);
        } else {
          // this.updateLoggedOutState();
        }
      });
    }.bind(this);

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=285141892042046&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <%= javascript_include_tag 'application'%>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
